/* Page Header */

body {
  margin-left:0;
  margin-right:0;
}

.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  justify-content: space-between;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.page_title {
  padding-left: 10px;
}

.navigation {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.navigation a {
  color: Black;
  padding: 10px;
}

/* Page Body */

.main_container {
  display: flex;
  justify-content: center;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.large {
  width: 630px;
  border: 1px solid black;
  display: flex;
  flex-flow: column;
}

/* !!! BROKEN SECTION START !!! */

.large.bottom {
  /*display: flex;
  flex-flow: row;*/
}

.large.bottom_left, .large.bottom_right {
  display: flex;
  flex-flow: column;
}

/* !!! BROKEN SECTION END !!! */

.medium {
  width: 300px;
  border: 1px solid black;
  /*display: flex;
  flex-flow: column;*/
}

.small {
  width: 240px;
  border: 1px solid black;
  /*display: flex
  flex-flow: column;*/
}

.large.main, .medium.main, .small.main {
  margin: 30px 15px;
}

/* Image Section START */

.image {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
}

.image.main {
  font-size: 40px;
  text-align: left;
}

.large.one {
  background-image: url("../images/img-story-main.png");
}

.large.four {
  background-image: url("../images/img-story-2.png"); /*Farm Girl*/
}

.large.six {
  background-image: url("../images/img-story-3.png"); /*Photographer*/
}

.medium.two {
  background-image: url("../images/img-story-1.png"); /*Cat picture*/
  height: 300px;
  text-align: center;
}

/* Image Section END */

/* Page Footer */
